{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Post</h1>


                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.category) }}
                {{ form_row(form.body) }}
                {% if is_granted('ROLE_MANAGER') %}
                    {{ form_row(form.checked) }}
                {% endif %}
                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {# TODO: form_end tag renders "checked" field because it was not secured in the form #}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}